body {
	margin: 12 px 0;
	padding: 5px 24px 0 12px;
	line-height: 1.5;
	font-family: "LatoWeb","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
	font-size: 1.85em;
	margin: 6px 0;
}

h3{
	font-size: 1.5em;
	margin: 6px 0;
}

a {
	color: #0054a6;
}